<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Life and Power: Quaker Discernment on Abuse</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{baseurl}}/style/w3.css">
<link rel="stylesheet" href="{{baseurl}}/style/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/v4-shims.min.css" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Poppins", sans-serif}

body, html {
    height: 100%;
    font-size: 1rem;
    --header-large-font-size: 2rem;
    --highlight-color: #bfb1c4;
}

.section-highlight {
    background-color: var(--highlight-color);
    padding:64px 16px;
}

.section-dark {
    background-color: black;
    color: var(--highlight-color);
    padding:64px 16px;
}

.section-light {
    background-color: white;
    color: black;
    padding:64px 16px;
}





.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar {
    background-color: #fffd;
    padding: 2vw 4vw;
}

.page-header .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.page-header .subtitle {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.header-menu-item {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    text-decoration-line: none;
    font-weight: 300;
    padding: 0vw 2vw;
}

</style>
{{! font-size: 1.6vw; }}
    {{!-- --foo: 1;
    --normal-text-size-value: 1;
    --site-navigation-font-size-value: var(--normal-text-size-value);
    font-size: calc((var(--foo)-1) * 1.2vw + 1rem); --}}

</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top page-header">
  <div class="w3-card" id="myNavbar" style="position:relative">
    <div>
        <a class="title" href="{{baseurl}}">Life and Power</a><br />
        <a class="subtitle" href="{{baseurl}}/">Quaker Discernment on Abuse</a>
    </div>

    <!-- Right-sided navbar links -->
    <div class="w3-hide-small" style="position:absolute; right:2vw; top:5vw">
        <a href="{{baseurl}}/resources" class="w3-bar-item header-menu-item">Resources</a>
        <a href="{{baseurl}}/about" class="w3-bar-item header-menu-item">About Us</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="{{baseurl}}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
<a href="{{baseurl}}resources" onclick="w3_close()" class="w3-bar-item w3-button">Resources</a>
<a href="{{baseurl}}about" onclick="w3_close()" class="w3-bar-item w3-button">About Us</a>
</nav>

{{{ body }}}

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display=&#39;none&#39;">
    <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa-brands fa-mastodon w3-hover-opacity"></i>
    <i class="fa-brands fa-bluesky w3-hover-opacity"></i>
    <i class="fa fa-envelope w3-hover-opacity"></i>
  </div>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>


</body></html>