{{> _head}}
<body>
{{> _navbar }}
<div class="w3-row profile">
    <div class="topspacer">
        <!-- takes up vertical space of page header -->
    </div>
    <img     width="{{#if width}}
                    {{width}}
                    {{else}}
                    454px
                    {{/if}}" 
            height="{{#if height}}
                    {{height}}
                    {{else}}
                    960px
                    {{/if}}" src="{{ photo_url }}"/>
    <div class="maintext">
        {{{ body }}}
    </div>
</div>
{{> _footer}}


</body></html>