---
title: Resources
---

<div class="w3-container section-light">
    <!-- extra spacer for under header -->
</div>

<div class="w3-container section-light">
    <!-- resoures -->
    <div class="w3-row">
    <div class="w3-col m6">
        <div class="w3-card w3-round-xlarge highlight spiritual w3-margin">
            <div class="top">
                <h2>&#10024; Reflections</h1>
            </div>
            <div class="bottom">
            <h3>Honoring Judy Brutz</h3>
            <p>&#x301D;When and how are Friends going to embrace this reality and take action to alleviate the suffering and pain that
            exists in the Religious Society of Friends?&#x301E; — Joan Liversidge</p>
            
            <p align="right"><a href="{{baseurl}}/reference/judy-brutz/honoring-an-elder">Honoring an Elder in Our Work Against Interpersonal&nbsp;Violence:<br/>A Friend’s Recollection of Judy Brutz</a></p>

            <hr/>
            <h3>Peacemaking</h3>
            <p>&#x301D;We are not led to be peacemakers in one situation and to be violent in the next. The Spirit lays upon us both the burden
            of being peacemakers in all life situations, and also provides the means to lighten the load.&#x301E; —Lake Erie Yearly Meeting</p>
            <p align="right"><a href="{{baseurl}}/reference/peace-testimony">learn more about our peace testimony</a></p>
            {{!-- <h3>How to help</h3>
            <p>""</p>
            <p align="right"><a href="{{baseurl}}/reference/listening">more about listening</a></p>
            <p>more words here</p> --}}
            </div>
        </div>
    </div>

        <div class="w3-col m6">
            <div class="w3-card w3-round-xlarge highlight meeting w3-margin">
                <div class="top">
                    <h2>&#127968; Resources for Meetings</h2>
                </div>
                <div class="bottom">
                    <h3>Getting started</h3>
        
                    <p>&#x301D;Abuse represents not only a private tragedy, but a community failure. May we build strong
                        communities where no one is
                        abused.&#x301E; —Jade Rockwell</p>
                    <p align="right">Wise as Serpents, Harmless as Doves:<br />
                        A Spiritual Approach to Abuse Prevention in Friends Meetings
                        (<a href="https://www.friendsjournal.org/wp-content/uploads/2022/03/Wise-as-serpents.pdf"
                            target="new">pdf</a>,&nbsp;<a href="{{baseurl}}/media/wise-as-serpents.mp3">audio</a>)</p>
                    <hr />
                    <h3>Coming together in community</h3>
                    <p>&#x301D;Interpersonal violence is very alive in the world around our meetings, and indeed, it
                        is alive within them, too.&#x301E; —Windy Cooler</p>
                    <p align="right"><a href="{{baseurl}}/reference/common-testimony/intro-letter">Coming Together for
                            Continuing Revelation:<br />Common
                            Testimony on Abuse</a></p>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>